* {
  font-family:'Open Sans', sans-serif;
}
body {
    color: #333333;
    background: #f1f1f1;
  }
  
  h1, h2, h4, h5, h6 {
    color: #444444;
    padding: 1.5rem;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
  }
  
  h3 {
    color: #444444;
    padding: 1.5rem;
    text-align: center;
  }

  .container-title {
    color: #444444;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1em;
  }

  .container-content {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    white-space:pre-line;
    padding: 1.5em 2em 1.5em 2em;
  }

  h3 a.container-title:hover {
    color: #4e6df7;
    text-decoration: none;
  }

   
  p {
    padding:1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
  }

  ul {
    margin: 0;
  }
  
  .bg-steel {
    background-color: #000000;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    /*border: 1px solid #ffffff;*/
    border-radius: 3px;
    margin-bottom: 20px;
    transition:0.7s;
  }

  .content-section:not(.nohover):hover {
    background-color: #bfdfff;
  }
  
  .media-body h2 {
      padding-bottom:0;
      text-align:center
  }
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #4e6df7;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
  }

  .card {
    transition:0.7s;
  }
  .card:not(.nohover):hover  {
    background-color: #bfdfff;
  }

.join-soc {
    height:250px;
}
.join-soc h2 {
  padding-bottom:0;
}

.soclist {
    height:300px;
}

/* NEW BOOTSTRAP CLASSES */

.div-hover {
  background: #ffffff;
  transition: 0.7s;
}

.div-hover:not(.nohover):hover {
  background-color: #bfdfff;
}

.navbar {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}


/************************************/
/***** POSTS (AND SOCIETY HOME) *****/
/************************************/

.sochome-banner {
  padding:1em 3em 3em 3em; 
}

.sochome-title{
  padding-top:0.5em;
  padding-bottom:0.2em;
}

.post-content {
  padding-top:20px;
  font-size: 1.1em;
  line-height: 1.6em;
  color:#272727;
}

.post-author-name {
  font-family:'Open Sans', sans-serif;
  font-weight:600;
  color:#000;
  font-size:1.2em;
}
.post-author-name:link {
  text-decoration:none;
}

.post-time {
  font-size:1em;
}

.post-image {
  height: 65px;
  width: 65px;
  margin-right:1.4em;
}


.comment-image {
  height: 45px;
  width: 45px;
  margin-right:1.4em;
}

.comment-content {
  padding-top:20px;
  font-size: 0.9em;
  line-height:1.6em;
  color:#272727;
}

.comment-author-name {
  font-family:'Open Sans', sans-serif;
  font-weight:600;
  color:#000;
  font-size:1em;
}

.comment-author-name:link {
  text-decoration:none;
}

.comment-time {
  font-size:0.8em;
}


.socmanage-box {
  padding:1em 3em 1em 3em;
}

p.joinsoc_desc{
  font-size:1.2em;
}

/*****************/
/**** SIDEBAR ****/
/*****************/

.wrapper {
    display: flex;
    width: 100%;
}

#main-content {
    width: calc(100% - 250px);
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#main-content.active {
    width:100%;
}

#sidebar {
  width:250px;
  height: 100vh;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: #272727;
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #000;
  color: #fff;
}

.sidebar-header img {
  max-height: 100%;
  max-width: 90%;
}

#sidebar .sidebar-profile {
    background: #272727;
}

#sidebar ul.components .sidebar-profile a h3 {
  color:#fff;
  font-size:1.4em;
  padding-top:0;
  padding-bottom:1em;
}
#sidebar ul.components .sidebar-profile a:link {
  text-decoration: none;
}

#sidebar ul.components .sidebar-profile a h3:hover {
  color:#fff;
  font-size:1.45em;
}

#sidebar .sidebar-profile img {
    margin:20px 0px 20px 0px;
    height: 125px;
    width: 125px;
}

@media (max-width: 768px) {
    #sidebar {
      margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}


#sidebar .components {
  background-color: #272727;
}

#sidebar ul.components {
  padding: 0em 0em 1em 0em;
  border-bottom: 1px solid #fff;
  font-family: Open Sans, sans-serif;
  font-weight: 300;
}


#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color: #fff;
  text-decoration: none;

}
#sidebar ul.components li a:hover {
  color: #fff;
  background: #121212;
  font-size: 1.2em;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #000;
  background: #ebebeb;
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #313131;
}

/* DROPDOWNS */

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

