{% extends "blog/base.html" %}
{% block content %}
    <div class="rounded-lg shadow-sm bg-white sochome-banner">
        <h1 class="sochome-title">{{ membership.society.name }} </h1>
        <p class="post-content">{{ membership.society.description}}<br><br>
        <div class="text-center" style="margin-top:-2em;">
        {% if membership.is_leader%}
            <a href="{% url 'post-create' membership.society.id %}" class="btn btn-outline-info">Create Post</a>
            <a href="{% url 'society-manage' society_id=membership.society.id %}" class="btn btn-outline-success">Manage Society</a>

        {% endif %}
            <a href="{% url 'society-leave' society_id=membership.society.id %}" class="btn btn-outline-danger">Leave Society</a>
        </div>
    </div>
    {% for post in posts %}
        <div class="mt-3 px-5 pt-4 pb-2 bg-white shadow-sm" style="border-top-left-radius: 0.5rem; border-top-right-radius: 0.5rem;">
            <div class="row">
                <div class="col-xs-1 pl-4">
                    <img class="rounded-circle post-image" src="{{ post.author.profile.image.url }}" />
                </div>
                <div class="col-xs-4 pt-1">
                    <a class="mr-2 post-author-name" href="#">{{ post.author.first_name }} {{ post.author.last_name }}</a>
                    <small class="text-muted post-time"><br>{{ post.date_posted|date:"F d, Y" }}</small>
                </div>
                <div class="col-xs-7 ml-3 pt-2">
                    <a href="{% url 'post-detail' society_id=membership.society.id pk=post.id %}" class="btn btn-light btn-sm">Click for more options</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p class="post-content">{{ post.content }}</p>
                </div>
            </div>
        </div>

        <div class="mb-3 pr-5 pt-4 pb-2 bg-light shadow-sm border-light" style="border-bottom-left-radius: 0.5rem; border-bottom-right-radius: 0.5rem;">
            <div class="col-sm-12 pl-5 pb-5">
                <form class="form-inline" method="POST" style="display:flex"> {% csrf_token %}
                    <input type="search" name="comment" id="{{ post.id }}" placeholder="New comment" class="form-control mr-sm-2 p-4" style="flex-grow:1;">  
                    <button name="post_id" class="btn btn-info my-2 my-sm-0 " value="{{post.id}}" onclick='update_comments({{post.id}})'> Post </button>
                </form>
            </div>
            {% for comment in post.comments.all %}
                <div class="row">
                    <div class="col-xs-1 offset-1 pl-4">
                        <img class="rounded-circle comment-image" src="{{ comment.author.profile.image.url }}" />
                    </div>
                    <div class="col-xs-4">
                        <a class="mr-2 comment-author-name" href="#">{{ comment.author.first_name }} {{ comment.author.last_name }}</a>
                        <small class="text-muted comment-time"><br>{{ comment.date_posted|date:"F d, Y" }}</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 offset-1">
                        <p class="comment-content">{{ comment.content }}</p>
                    </div>
                </div>
            {% empty %}
                <div class="px-5">
                    <p>No comments for this post.</p>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <script type="text/javascript">
        //$(document).on('submit','comment', function(e){
        //    e.preventDefault();
        //    $.ajax({
        //        type:'POST',
        //        url:'blog-sochome',
        //        data:{
        //            post_id:$('#post-of-comment').val(),
        //            content:$('#comment').val(),
        //        }
        //    });
        //});
        function update_comments(post_id) {
            $.ajax({
                type:'POST',
                url:'{% url "blog-sochome" %}',
                data:{
                    'post_id': post_id,
                    'comment': document.getElementById(post_id.toString()).value,
                    'csrfmiddlewaretoken':$("input[name=csrfmiddlewaretoken]").val(),
                    'action': comment_update
                }
            });
        };

        

        /*$("[id^='-comment']").on('submit', function(e){
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'{% url "blog-sochome" %}',
                data:{
                    title:$('#title').val(),
                    description:$('#description').val(),
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                    action: 'post'
                },
                error : function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
            });
        });*/
    </script>
{% endblock content %}
