<div class="mb-3 pr-5 pt-4 pb-2 bg-light shadow-sm border-light" style="border-bottom-left-radius: 0.5rem; border-bottom-right-radius: 0.5rem;">
    <div class="col-sm-12 pl-5 pb-5">
        <form class="form-inline comment-class" method="POST" action="" style="display:flex" id="comment"> {% csrf_token %}
            <input type="search" name="comment" placeholder="New comment" class="form-control mr-sm-2 p-4" style="flex-grow:1;">  
            <button name="post_id" class="btn btn-info my-2 my-sm-0 " value="{{post.id}}"> Post </button>
        </form>
    </div>
    {% for comment in post.comments.all %}
    
        <div class="row">
            <div class="col-xs-1 offset-1 pl-4">
                <img class="rounded-circle comment-image" src="{{ comment.author.profile.image.url }}" />
            </div>
            <div class="col-xs-4">
                <a class="mr-2 comment-author-name" href="#">{{ comment.author.first_name }} {{ comment.author.last_name }}</a>
                <small class="text-muted comment-time"><br>{{ comment.date_posted|date:"F d, Y" }}</small>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 offset-1">
                <p class="comment-content">{{ comment.content }}</p>
            </div>
        </div>

    {% empty %}
        <div class="px-5">
            <p>No comments for this post.</p>
        </div>
    
    {% endfor %}
</div>