{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section"> 
        <form method = "POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 text-center py-3"><h2>Join Society - Confirmation</h2></legend>
                <p class="joinsoc_desc">{{society.description}}</p>

                <h4>Are you sure you want to join the society {{ society.name }}?</h4>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group text-center" style="margin-right:0.4em;">
                <button class="btn btn-lg btn-outline-success" type="submit">Join</button>
                <a href="{%url 'join-society'%}"class="btn btn-lg btn-outline-secondary">Cancel</a>

            </div>
        </form>
    </div>    
{% endblock content %}