{% extends "blog/base.html" %}
{% block content %}
    <div class="rounded-lg shadow-sm bg-white sochome-banner mb-3">
        <h1 class="sochome-title">{{ society.name }}: Admin Panel</h1>
        <div class="text-center mt-4">
            <a class="btn btn-outline-info mx-2" href="{%url 'society-profile' society_id=society.id%}"> Society Info </a>
        </div>
    </div>
    {% for membership in memberships %} 
        {% if forloop.first %}<div class="row">{% endif %}
        <div class="col-sm-4">
        <div class="rounded-lg shadow-sm bg-white socmanage-box row my-3 mx-2">
                <div class="col-sm-6 pt-2">
                    <h3 class="text-left">{{membership.member.first_name}}</h3>
                </div>
                <div class="col-sm-6 text-right pt-2 text-center">    
                    <form method='POST'>
                    {% csrf_token %}
                    {% if user == membership.member %}
                        <button name="leave" class="btn btn-sm btn-danger mx-2 mt-4">Leave</button>
                    {% else %}
                        {% if membership.is_leader %}
                            <button type="submit" name="demote" value="{{membership.member.id}}" class="btn btn-sm btn-danger mx-2 mb-2">Demote</button>
                        {% else %}
                            <button type="submit" name="promote" value="{{membership.member.id}}" class="btn btn-sm btn-success mx-2 mb-2">Promote</button>
                        {% endif %}
                            <button type="submit" name="kick" value="{{membership.member.id}}" class="btn btn-sm btn-dark mx-2">Remove</button>
                        {%endif%}
                    </form>

                </div>
        </div>
        </div>

        {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
        {% if forloop.last %}</div>{% endif %}
    {% endfor %}


    {% if is_paginated %}
    <div class="text-center">
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{page_obj.previous_page_number}}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
        </div>
    {% endif %}
{% endblock content %}
